<ul class="menu">
	<li> Restaurante Fome Zero </li>
	<%= menu 'Homepage', root_path %>
	<%= menu 'Restaurants', restaurants_path %>
	<%= menu 'Dishes', dishes_path %>
	<%= menu 'Ingredients', ingredients_path %>
</ul>